<div class="mx-auto bg-[#ecf5f7] p-4">
    @if (patient()) {
      <div>
        <div class="mb-6">
          <button routerLink="/" class="text-blue-600">&larr; Back</button>
        </div>

        <!-- TODO: Implement Component 1 -->
        <div class="bg-white p-4 rounded-xl my-2">
          Component 1
        </div>
        <!-- Use patient()?.id to access to the patient's ID value -->
        <!-- Use patient()?.arrival_time | date:'medium' to access to the patient's arrival time value -->
        <!-- Use patient()?.time_elapsed to access to the patient's wait time value -->
        <!-- Use patient()?.triage_category to access to the patient's category value -->
        <!-- Use patient()?.queue_position?.global to access to the patient's position value -->

        <!-- END COMPONENT 1 -->

        <!-- TODO: Implement Component 2 -->
        <div class="bg-white p-4 rounded-xl my-4">
          Component 2
        </div>
        <!-- Use patient()?.status?.current_phase to access to the patient's current phase value -->

        <!-- END COMPONENT 2 -->

        @if (patient()?.status?.investigations) {
        <!-- TODO: Implement Component 3 -->
        <div class="bg-white p-4 rounded-xl my-2">
          Component 3
        </div>
        <!-- Use patient()?.status?.investigations?.labs to access to the patient's current Lab value -->
        <!-- Use patient()?.status?.investigations?.imaging to access to the patient's current Imagery value -->

        <!-- END COMPONENT 3 -->
        }
        
      </div>
    }
  </div>